footer

    <img src="https://img0.etsystatic.com/site-assets/badges/en/en_isell_1.png" alt="Etsy Logo" />

    a(href="https://www.etsy.com/shop/MetalWorksFurniture?ref=hdr_shop_menu") <footnote>Here's my Etsy shop!</footnote>

    address Industrial Furniture & Decor<br />Parts Unknown<br />USA
