<!-- Microdata markup added by Google Structured Data Markup Helper. -->

head
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="keywords" content="Industrial Furniture, Steampunk, Metal Furniture, steel, industrial decor, steampunk furniture, furniture, metal art" />

  <meta name="description" content="Industrial furniture, home decor, steampunk, and custom made furniture" />

  <meta name="msvalidate.01" content="543601B286D88FC2B49A8912A5C1D587" />
  <meta name="google-site-verification" content="MC1MvHRCzs7Dpyt3prJPam28TQo4caUJMr96raV262A" />

  title Industrial Furniture & Home Decor

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  link(rel="stylesheet" type="text/css" href="/static/css/normalize.css")

  link(href='https://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css')

  link(href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css')

  link(rel="stylesheet" type="text/css" href="/static/css/main.css")
