header

  nav

    ul#menu

      li
        a(href="/") Home

      li
        a(href="/#quotes") About

      li
        a(href="/#contact") Contact

  #shop_name

    h1.name Industrial Furniture & Decor

    h2.name Eclectic Designs with <em>Style</em>
