doctype html
html(lang='en')

  include ./partials/__head.pug

  body

    include ./partials/__header.pug

    block content

    include ./partials/__footer.pug

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

    <script src='/static/js/my_javascript.js' type="text/javascript" charset="utf-8"></script>
