extends ./layout.pug
block content

  section.wrapper

      p I believe that furniture can be art. I also believe that it should not be overpriced. This is a furniture gallery that is being built, one piece at a time. I produce each piece individually in my workshop and will cater towards the needs of the client.

      <p title="This is my first shop and it is brand new!"><i>All items shown are handmade <ins>one-of-a-kind</ins> designs.</i>

      p Links will redirect you to my <strong>Etsy</strong> store.

      p Come back often, as I continue to create more and more eclectic items.

      h2.labels Furniture

      .container

        <div itemscope itemtype="http://schema.org/Product" class="items">

          <a href="https://www.etsy.com/listing/248023237/industrial-metal-coffee-table-jupiter?ref=shop_home_feat_2" title="Jupiter Jinx">
            <meta itemprop="image" content="https://img0.etsystatic.com/102/0/11633114/il_570xN.840823088_az2w.jpg">
            <img src="https://img0.etsystatic.com/102/0/11633114/il_570xN.840823088_az2w.jpg" alt="Coffee table (Jupiter Jinx)" />
            <figcaption>Jupiter Jinx</figcaption><figcaption itemprop="offers" itemscope itemtype="http://schema.org/Offer"><span itemprop="priceCurrency">$</span><span itemprop="price">300</span></figcaption></a>

          p Ladies & Gentlemen! What you see here, is a provocative and artistic steel coffee table. This steel table can adorn your home or your waiting area. The steel frame is made to have an industrialized unfinished design.

        </div>

        <div itemscope itemtype="http://schema.org/Product" class="items">

          <a href="https://www.etsy.com/listing/255856432/industrial-console-table-blue-ruin?ref=shop_home_feat_3" alt="Console table (Blue Ruin)" />
            <meta itemprop="image" content="https://www.etsy.com/listing/255856432/industrial-console-table-blue-ruin?ref=shop_home_feat_3" />
            <img src="https://img0.etsystatic.com/101/0/11633114/il_570xN.867010000_obum.jpg" alt="Console table (Blue Ruin)" />
            <figcaption>Blue Ruin</figcaption><figcaption itemprop="offers" itemscope itemtype="http://schema.org/Offer"><span itemprop="priceCurrency">$</span><span itemprop="price">325</span></figcaption></a>

          p For your viewing pleasure. A one-of-a-kind industrial steel console table (Blue Ruin). This metal table has a combination of blues, whites, and silver to produce a wonderful mix of color and flow.

        </div>

        <div itemscope itemtype="http://schema.org/Product" class="items">

          <a href="https://www.etsy.com/listing/253635680/industrial-barstool-bad-dog-no-biscuit?ref=listing-shop-header-1" title="Bad Dog No Biscuit">
            <meta itemprop="image" content="https://www.etsy.com/listing/253635680/industrial-barstool-bad-dog-no-biscuit?ref=listing-shop-header-1" />
            <img src="https://img0.etsystatic.com/103/1/11633114/il_570xN.858720084_n3s4.jpg" alt="Barstool (Bad Dog no Biscuit)" />
            <figcaption>Bad Dog No Biscuit</figcaption><figcaption itemprop="offers" itemscope itemtype="http://schema.org/Offer"><span itemprop="priceCurrency">$</span><span itemprop="price">75</span></figcaption></a>

          p Please turn your attention to this one-of-a-kind industrial steel bar stool. Give your home bar or breakfast nook an industrial chic touch with this colorful design and its sleek black distressed frame.

        </div>

      h2.labels Decor

      .container

        <div itemscope itemtype="http://schema.org/Product" class="items">

          <a href="https://www.etsy.com/listing/246923701/steampunk-lamp-steel-baroness?ref=shop_home_active_8" title="Steel Baroness">
            <meta itemprop="image" content="https://www.etsy.com/listing/246923701/steampunk-lamp-steel-baroness?ref=shop_home_active_8" />
            <img src="https://img1.etsystatic.com/100/0/11633114/il_570xN.829141503_jgpi.jpg" alt="Steampunk lamp (Steel Baroness)" />
            <figcaption>Steel Baroness</figcaption><figcaption itemprop="offers" itemscope itemtype="http://schema.org/Offer"><span itemprop="priceCurrency">$</span><span itemprop="price">50</span></figcaption></a>

          p Feast your eyes upon an industrial lamp in the steampunk style. Its design merges function and art.

        </div>

        <div itemscope itemtype="http://schema.org/Product" class="items">

          <a href="https://www.etsy.com/listing/247237352/steampunk-lamp-industrial-steel-robot?ref=listing-shop-header-0" title="Steel Robot">
            <meta itemprop="image" content="https://www.etsy.com/listing/247237352/steampunk-lamp-industrial-steel-robot?ref=listing-shop-header-0" />
            <img src="https://img1.etsystatic.com/100/0/11633114/il_570xN.830032469_mzfu.jpg" alt="Steampunk lamp (Steel Robot)" />
            <figcaption>Steel Robot</figcaption><figcaption itemprop="offers" itemscope itemtype="http://schema.org/Offer"><span itemprop="priceCurrency">$</span><span itemprop="price">50</span></figcaption></a>

          p Ladies and gentlemen! Feast your eyes upon an alternative industrial lamp in the steampunk style.

        </div>

        <div itemscope itemtype="http://schema.org/Product" class="items">

          <a href="https://www.etsy.com/listing/247135271/industrial-steampunk-lamp-red-robot?ref=listing-shop-header-1" title="Red Robot">
            <meta itemprop="image" content="https://www.etsy.com/listing/247135271/industrial-steampunk-lamp-red-robot?ref=listing-shop-header-1" />
            <img src="https://img0.etsystatic.com/100/0/11633114/il_570xN.830259892_dm66.jpg" alt="Steampunk lamp (Red Robot)" />
            <figcaption>Red Robot</figcaption><figcaption itemprop="offers" itemscope itemtype="http://schema.org/Offer"><span itemprop="priceCurrency">$</span><span itemprop="price">50</span></figcaption></a>

        p This Robot lamp variant, sports brass screws, toggle switch, and on/off plate.

        </div>

        #quotes

          .textItem
            p I do not think there is any thrill that can go through the human heart like that felt by the inventor as he sees some creation of the brain unfolding to success. Such emotions make a man forget food, sleep, friends, love, everything.
            footer - Nikola Tesla
          </div>

          .textItem
            p I didn't fail the test, I just found 100 ways to do it wrong.
            footer - Ben Franklin
          </div>

          .textItem
            p No flying machine will ever fly from New York to Paris …[because] no known motor can run at the requisite speed for four days without stopping.
            footer - Orville Wright
          </div>

          .textItem
            p People eat meat and think they will become as strong as an ox, forgetting that the ox eats grass.
            footer - Pino Caruso
          </div>

      #me

        #Biechu
          <img src="https://img1.etsystatic.com/120/0/72176112/iusa_400x400.35841319_eflj.jpg" alt="profile photo" style="width: 200px; height: 200px" />

        .about_me

          p I am dreamer,<br />an artist,<br />a builder,<br />and a tinkerer.<br />I like to be creative and I hope that you like my creations.

      .customize

        h2 Custom Orders Available

        p In most cases it is no problem to customize color or dimensions.

        p If you have any questions or ideas, feel free to contact me. I'm easy.

      #contact

        h2 Contact Me

        h3#email Email: Nineteen99@gmail.com
